<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  
    <add key="UserName" value="" />
    <add key="Password" value="" />

    <add key="TIMEOUT" value="30" />
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CreateLoadService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="" binding="basicHttpBinding"
                bindingConfiguration="CreateLoadService" contract="ServiceReference.CreateLoad"
                name="CreateLoad30Service" />
        </client>
    </system.serviceModel>
</configuration>
