<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>   
      <add key="RUN_ON_LOCAL" value="true" />
      <add key="LOGIN_URL" value="" />
      <add key="UAT_URL" value="" />
      <add key="EDI_UserName" value="" />
      <add key="EDI_Password" value="" />
      <!--<add key="UserName" value="" />
      <add key="Password" value="" />-->
      <add key="UserName" value="" />
      <!--Niceday123#-->
      <add key="Password" value="" />
    

    <!--<add key="Password" value="QApls30!" />-->
      <add key="TIMEOUT" value="30" />  
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.0.0" newVersion="3.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>